docs/**                 linguist-documentation
public/**               linguist-vendored
*.html                  linguist-detectable=false
*.html                  linguist-generated
*.css			linguist-detectable=false
